@import './button.css';
@import './toggler.css';

:root {
    font-family: Roboto, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --dark1: #000000;
    --dark2: #1a1a1a;
    --light1: #ffffff;
    --light2: #f9f9f9;
    --theme-color: #646cff;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}


@media (prefers-color-scheme: light) {
    :root {
        background-color: var(--light1);
    }
}

#root {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    height: 100vh;
}

#root .sensors-panel {
    flex: 1;
}