.sensor {
    background-color: var(--dark2);
    padding: 8px;
}

@media (prefers-color-scheme: light) {
    .sensor {
        background-color: var(--light2);
    }
}

.sensor__name {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
    text-align: start;
}

.sensor__unit {
    font-size: 1rem;
    font-weight: 400;
}

.sensor__value {
    display: flex;
    flex-direction: column;
    font-family: Roboto Mono, sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: end;
}